@font-face {
    font-family: 'Meie Script';
    src: url('../fonts/MeieScript-Regular.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #f9f1e7 !important;
    color: #7e4847 !important;
}

h1{
    font-family: 'Meie Script' !important;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
}